@import "tailwindcss";



@font-face {
  font-family: Prompt;
  src: url(./assets/fonts/Prompt/Prompt-Light.ttf) format("truetype");
}

@layer base {
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;

  }
}